<section data-brokerage-notify='{}'>
    <a href="#notify-content" class="brokerage-single__request" data-brokerage-notify-open data-fancybox-width="300" data-fancybox-height="450">Сделать запрос</a>

    <div id="notify-content" class="brokerage-notify" data-brokerage-notify-content>
        <div class="brokerage-notify__panel" data-brokerage-notify-panel="form">
            <form method="post" action="{{ notify_url }}">
                <div data-brokerage-notify-error></div>
                <input type="hidden" name="url" value="{{ current_url }}">
                <input type="hidden" name="vendor" value="{{ vendor }}">
                <div class="form-group">
                    <label for="name">Имя <span class="required">*</span></label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail <span class="required">*</span></label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone">Телефон <span class="required">*</span></label>
                    <input type="text" name="phone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="message">Сообщение</label>
                    <textarea name="message" rows="4" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">
                        <i class="fa fa-send"></i> Отправить
                    </button>
                </div>
            </form>
        </div>
        <div class="brokerage-notify__panel" data-brokerage-notify-panel="process">
            <div class="form-group-lg text-center">
                <i class="fa fa-3x fa-spinner fa-spin"></i>
            </div>
            <div class="form-group-lg text-center">
                Подождите...
            </div>
        </div>
        <div class="brokerage-notify__panel" data-brokerage-notify-panel="complete">
            <div class="form-group-lg text-center">
                <i class="fa fa-send fa-3x"></i>
            </div>
            <div class="form-group-lg text-center">
                <p>Ваще сообщение отправлено. Мы свяжемся с Вами в ближайшее время.</p>
            </div>
            <div class="form-group-lg text-center">
                <button data-brokerage-notify-close class="btn btn-default">Закрыть</button>
            </div>
        </div>
    </div>
</section>

