<div class="brokerage-single">
    <a href="{{ route('brokerage') }}" class="brokerage-single__back">Вернуться к списку катеров и яхт</a>
    <h1 class="brokerage-single__title">{{ boat.heading.main }}</h1>
    <div class="brokerage-single__intro">
        <img src="{{ boat.image.url }}" alt="{{ boat.image.alt }}" title="{{ boat.image.title }}" class="brokerage-single__intro-img">
        <div class="brokerage-single__intro-inner">
            <div class="brokerage-single__intro-logo">
                <img src="{{ logo_url }}" alt="" title="">
            </div>
            <div class="brokerage-single__intro-boat-name">
                {{ boat.boat.vendor.name }} {{ boat.boat.name }}
            </div>
            <div class="brokerage-single__intro-specs">
                {% spaceless %}
                <div class="brokerage-single__intro-spec-in-stock">
                    {% if boat.in_stock %}Катер в наличии{% else %}Катер продан{% endif %}
                </div>
                <div class="brokerage-single__intro-spec-year">Год выпуска: {{ boat.info.year }}</div>
                {% endspaceless %}
            </div>
            <div class="brokerage-single__price">
                {% if boat.price_old %}
                    <div class="brokerage-single__price-current">
                        Новая цена:<wbr>{{ boat.price }}
                    </div>
                    <div class="brokerage-single__price-prev">
                        Старая цена:<wbr>{{ boat.price_old }}
                    </div>
                {% else %}
                    <div class="brokerage-single__price-current">
                        Цена: {{ boat.price }}
                    </div>
                {% endif %}
            </div>
            {% include 'admin-rangemarine-api::notify-form.twig' with { notify_url: notify_url, boat: boat, vendor: vendor } %}
        </div>
    </div>
    <div class="brokerage-single__tabs" data-ar-tabs>
        <nav class="brokerage-single__tabs-menu">
            {% spaceless %}
            <a class="active" data-ar-tabs-nav="#specs">Технические характеристики</a>
            <a data-ar-tabs-nav="#complects">Комплектация и описание</a>
            <a data-ar-tabs-nav="#photo">Фотогаллерея</a>
            <a data-ar-tabs-nav="#video">Видеогаллерея</a>
            {% endspaceless %}
        </nav>
        <div id="specs" class="brokerage-single__tab-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="brokerage-single__specs">
                        <div class="brokerage-single__specs-heading">
                            Основные технические характеристики
                        </div>
                        <table class="brokerage-single__specs-table">
                            {% for spec in boat.boat.specs %}
                                <tr>
                                    <td>{{ spec.name }}</td>
                                    <td>{{ spec.value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="brokerage-single__specs">
                        <div class="brokerage-single__specs-heading">
                            Подробная информация о катере ({{ boat.name }})
                        </div>
                        <table class="brokerage-single__specs-table">
                            {% if boat.info.year %}
                            <tr>
                                <td>Год выпуска</td>
                                <td>{{ boat.info.year }}</td>
                            </tr>
                            {% endif %}
                            {% if boat.info.mileage %}
                            <tr>
                                <td>Пробег</td>
                                <td>{{ boat.info.mileage }}</td>
                            </tr>
                            {% endif %}
                            {% if boat.info.location %}
                            <tr>
                                <td>Местонахождение</td>
                                <td>{{ boat.info.location }}</td>
                            </tr>
                            {% endif %}
                            {% if boat.name %}
                            <tr>
                                <td>HIN Корпуса</td>
                                <td>{{ boat.name }}</td>
                            </tr>
                            {% endif %}
                            {% if boat.info.case_color %}
                            <tr>
                                <td>Цвет корпуса</td>
                                <td>{{ boat.info.case_color }}</td>
                            </tr>
                            {% endif %}
                            {% if boat.info.engine %}
                            <tr>
                                <td>Двигатель</td>
                                <td>{{ boat.info.engine }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="complects" class="brokerage-single__tab-content">
            <div class="brokerage-single__complect-description">
                {% if boat.complects.description %}
                    {% set complectDescription = boat.complects.description %}
                {% else %}
                    {% set complectDescription = boat.boat.complects.description %}
                {% endif %}
                {{ complectDescription|raw }}
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="brokerage-single__specs">
                        <div class="brokerage-single__specs-heading">
                            Стандартная комплектация
                        </div>
                        <table class="brokerage-single__specs-table">
                            {% if boat.complects.standart %}
                                {% set complectStandart = boat.complects.standart %}
                            {% else %}
                                {% set complectStandart = boat.boat.complects.standart %}
                            {% endif %}
                            {% for item in complectStandart %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="brokerage-single__specs">
                        <div class="brokerage-single__specs-heading">
                            Дополнительная комплектация
                        </div>
                        <table class="brokerage-single__specs-table">
                            {% if boat.complects.additional %}
                                {% set complectAdditional = boat.complects.additional %}
                            {% else %}
                                {% set complectAdditional = boat.boat.complects.additional %}
                            {% endif %}
                            {% for item in complectAdditional %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="photo" class="brokerage-single__tab-content">
            {% spaceless %}
            {% for photo in photos %}
                <a href="{{ photo.url }}" title="{{ photo.title }}" class="col-sm-2 col-xs-4 brokerage-single__photo-item" data-fancybox data-fancybox-group="brokerage-photo">
                    <img src="{{ photo.thumbnail.url }}" alt="{{ photo.thumbnail.alt }}" title="{{ photo.thumbnail.title }}">
                </a>
            {% endfor %}
            {% endspaceless %}
        </div>
        <div id="video" class="brokerage-single__tab-content">
            {% if boat.video.playlist  %}
                {% set boatVideos = boat.video.playlist%}
            {% else %}
                {% set boatVideos = boat.boat.video.playlist %}
            {% endif %}
            <div class="row">
                {% for video in boatVideos -%}
                    <div class="col-sm-4 brokerage-single__video-wrapper">
                        <a href="{{ video.embed.src }}" data-fancybox data-fancybox-group="brokerage-video" data-fancybox-type="iframe" title="{{ video.name }}" class="brokerage-single__video">
                            <img src="{{ video.thumbnail.url }}" alt="{{ video.thumbnail.alt }}" title="{{ video.thumbnail.title }}" class="brokerage-single__video-thumbnail">
                            <span class="brokerage-single__video-name">{{ video.name }}</span>
                        </a>
                    </div>
                {%- endfor %}
            </div>
        </div>
    </div>
    {% if boat.similar_offers %}
    <div class="brokerage-single__similar-offers">
        <div class="brokerage-single__similar-offers-heading">Похожие предложения</div>
        <div class="row">
            {% for similar_offer in boat.similar_offers %}
            <div class="col-sm-6 col-md-4">
                {% include 'admin-rangemarine-api::single-item.twig' with similar_offer %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>