<div class="brokerage-boat-item">
    <a href="{{ route('brokerage.single', { id: id }) }}" class="brokerage-boat-item__heading">
        {{ heading[1] }}
    </a>
    <a href="{{ route('brokerage.single', { id: id }) }}" class="brokerage-boat-item__thumbnail">
        {% if special_offer %}
            <div class="brokerage-boat-item__special-offer">Специальное предложение</div>
        {% endif %}
        {% if reserved %}
            <div class="brokerage-boat-item__reserved">В резерве</div>
        {% endif %}
        {% if not in_stock %}
            <div class="brokerage-boat-item__sold">Продано</div>
        {% endif %}
        <img src="{{ image.thumbnail.url }}" alt="{{ image.thumbnail.alt }}" title="{{ image.thumbnail.title }}">
    </a>
    <a href="{{ route('brokerage.single', { id: id }) }}" class="brokerage-boat-item__title">{{ heading.second }}</a>
    <div class="brokerage-boat-item__featured-specs">
        {% spaceless %}
        <div class="brokerage-boat-item__featured-spec-in-stock">
            {% if in_stock %}В наличии{% else %}Продано{% endif %}
        </div>
        <div class="brokerage-boat-item__featured-spec-year">
            Год выпуска: {{ info.year }}
        </div>
        <div class="brokerage-boat-item__price">
            {% if price_old %}
            <span class="brokerage-boat-item__price-old">Старая цена: {{ price_old }}</span>
            <span class="brokerage-boat-item__price-current">Новая цена: {{ price }}</span>
            {% else %}
                Цена: {{ price }}
            {% endif %}
        </div>
        {% endspaceless %}
    </div>
</div>