.brokerage-single {

  &__back {
    padding-top: 50px;
    display: block;
    color: #656565;
    margin-bottom: 16px;
    &:hover,
    &:focus {
      color: #656565;
      text-decoration: underline;
    }
  }

  &__title,
  &__similar-offers-heading {
    background: white;
    color: #1c2c3c;
    font-style: italic;
    border-bottom: 1px solid #888888;
    font-size: 34px;
    margin-top: 0;
    padding: 23px;
    margin-bottom: 16px;
    text-transform: uppercase;
    @media (max-width: @screen-sm-max){
      font-size: 24px;
      padding: 16px;
    }
  }

  &__similar-offers-heading {
    text-align: center;
  }

  &__intro {
    position: relative;
    margin-bottom: 16px;
  }

  &__intro-img {
    display: block;
    width: 100%;
  }

  &__intro-inner {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    text-align: center;
    padding: 18px 36px;
    background: rgba(255,255,255,.7);
    @media (max-width: @screen-sm-max){
      position: static;
      width: 100%;
    }
  }

  &__intro-logo {
    margin-bottom: 12px;

    img {
      display: block;
      margin: 0 auto;
      @media (min-width: @screen-md-min){
        max-height: 86px;
      }
      @media (min-width: @screen-lg-min) {
        max-height: 1000px;
      }
      @media (max-width: @screen-sm-max){
        max-width: 180px;
      }
    }

  }

  &__intro-boat-name {
    margin-bottom: 12px;
    font-size: 24px;
    color: #081235;
  }

  &__intro-specs {
    margin-bottom: 18px;
  }

  &__intro-spec-in-stock,
  &__intro-spec-year {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    @media (max-width: @screen-xs-max){
      width: 100%;
    }
  }

  &__intro-spec-in-stock {
    background: #027da6;
  }

  &__intro-spec-year {
    background: #979694;
  }

  &__tabs-menu {
    background: white;
    margin-bottom: 32px;
    border-bottom: 1px solid #888888;

    a {
      display: inline-block;
      cursor: pointer;
      height: 60px;
      line-height: 61px;
      white-space: nowrap;
      padding-left: 32px;
      padding-right: 32px;
      color: #1d2a3b;
      background-color: white;
      transition: color .3s, background-color .3s;

      &:hover,
      &:focus,
      &.active {
        text-decoration: none !important;
        color: white;
        background-color: #1d2a3b;
      }

      @media (max-width: @screen-sm-max){
        height: 41px;
        line-height: 40px;
        padding-left: 16px;
        padding-right: 16px;
      }
      @media (max-width: @screen-xs-max){
        width: 100%;
      }
    }
  }

  &__tab-content {
    display: none;
    margin-bottom: 34px;
    &.active {
      display: block;
    }
  }

  &__photo-item {
    display: inline-block;
    vertical-align: top;
    float: none !important;
    padding: 2px;

    img {
      width: 100%;
      display: block;
    }
  }

  &__video-wrapper {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  &__video {
    background: white;
    color: #1d2a3b;
    margin-bottom: 30px;
    display: block;
    text-decoration: none !important;
    transition: color .3s, background-color .3s;

    &:hover,
    &:focus {
      background: #1d2a3b;
      color: white;
    }
  }

  &__video-thumbnail {
    display: block;
    width: 100%;
  }

  &__video-name {
    padding: 9px 15px;
    display: block;
    font-size: 16px;
  }

  &__specs {
    margin-bottom: 30px;
  }

  &__specs-heading {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    @media (max-width: @screen-sm-max){
      font-size: 14px;
    }
  }

  &__specs-table {
    width: 100%;
    font-size: 16px;

    @media (max-width: @screen-sm-max){
      font-size: 14px;
    }

    td {
      padding: 9px 12px;
      background-color: white;

      &:last-child {
        text-align: right;
      }
      &:first-child {
        text-align: left;
      }
    }

    tr:nth-child(2n) td {
      background-color: #eeeef0;
    }

  }

  &__complect-description {
    background: #fff;
    padding: 15px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__price-current {
    font-size: 24px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__price-prev {
    font-size: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
  }

  &__request {
    height: 51px;
    display: block;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #888;
    background: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #1d2a3b;
    margin-top: 18px;
    transition: color .3s, background-color .3s;

    &:hover,
    &:focus {
      background: #1d2a3b;
      color: white;
      text-decoration: none;
    }
  }

}